html {
    z-index: 1;
}

.vcom-modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999999999;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    font-size: 15px;
    line-height: 25px;
    color: #666;
    font-family: 'Open Sans', 'Aria', sans-serif;
}

.vcom-modal-popup {
    height: auto;
    width: auto;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 150px;
    min-width: 30vw;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
}

.vcom-modal-popup.vcom-modal-form {
    min-width: 50px;
    min-height: 0;
    max-width: 500px;
}

.vcom-modal-popup .vcom-modal-btnContainer {
    align-self: flex-end;
    margin-top: 30px;
}

.vcom-modal-popup .vcom-modal-btnContainer button {
    margin-left: 8px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    min-width: 50px;
    font-weight: bold;
    font-size: 14px;
}

.vcom-modal-popup .vcom-modal-btnContainer button:last-child {
    background-color: #005d7c;
    color: white;
}

.vcom-modal-popup .vcom-modal-btnContainer button:last-child:hover {
    background-color: #0099e6;
}

.vcom-table-container {
    min-height: 400px;
    position: relative;
}

.vcom-table {
    width: 100%;
    margin: 20px 0;
}

.vcom-table thead {
    border-bottom: solid 2px #ccc;
}

.vcom-table thead th {
    padding: 5px 0;
}

.vcom-table .vcom-table__row td {
    padding: 5px 0;
}

.vcom-searchbar {
    width: 100%;
}

.vcom-table__nav {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}

.vcom-table__nav a {
    padding: 10px;
    background-color: #005d7c;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.vcom-table__row {
    border-bottom: solid 1px #eee;
}

.vcom-table__nav a:first-child {
    margin-left: 0;
}

.vcom-table__row__action-btns {
}

.vcom-table__row__action-btns button {
    float: right;
}

@media (max-width: 520px) {
    .vcom-table__row {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .vcom-table__row:nth-child(odd) {
        background-color: #eee;
    }

    .vcom-table .vcom-table__row td {
        padding-left: 50%;
        width: 100%;
    }

    .vcom-table .vcom-table__row td::before {
        position: absolute;
        left: 10px;
        font-weight: bold;
    }

    .vcom-table thead {
        display: none;
    }

    .vcom-table .vcom-table__row .vcom-table__row__action-btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .vcom-table__row .vcom-table__row__action-btns button {
        margin-top: 30px;
        width: 100%;
        margin-left: 5px;
    }

    .vcom-table__row .vcom-table__row__action-btns button:first-child {
        margin-left: 0;
    }
}

.toaster-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999999999;
}

.toaster-container .toaster {
    width: 350px;
    padding: 20px;
    height: auto;
    min-height: 80px;
    box-sizing: border-box;
    margin: 10px 10px;
    box-shadow: 0 0 10px 2px rgba(6, 6, 6, 0.4);
    border-radius: 5px;
    color: white;
    font-size: 115%;
    display: flex;
    align-items: center;
    transition: all 0.8s;
    opacity: 1;
}

.toaster-container .toaster > span:first-child {
    margin-right: 20px;
    font-size: 45px;
}

.toaster-container .toaster.success {
    background-color: #4db14d;
    border: solid 1px #2d912d;
}

.toaster-container .toaster.error {
    background-color: #ce8483;
    border: solid 1px #ae6463;
}

.toaster-container .toaster.warning {
    background-color: #ddc03f;
    border: solid 1px #bda01f;
}

.toaster-container .toaster.removing {
    opacity: 0;
}

.tip-text {
    position: fixed;
    left: -9999px;
    top: -9999px;
    z-index: 999999999999999;
    padding: 20px;
    border-radius: 15px;
    animation: pulse 0.6s infinite ease-in-out;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.3);
    background-color: #D9EDF7;
    border: solid 2px #79c1ec;
    width: 200px;
    transform-origin: 0 0;
    transform-style: preserve-3d;
    font-size: 12px;
    color: #666;
}

.tip-text::before {
    position: absolute;

    top: 20px;
    height: 10px;
    width: 10px;
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.tip-text.to-left::before {
    left: 100%;
    border-left: 10px solid #79c1ec;
    border-right: 10px solid transparent;
}

.tip-text.to-right::before {
    left: 0;
    transform: translateX(-100%);
    border-right: 10px solid #79c1ec;
    border-left: 10px solid transparent;
}

.tip-text * {
    transform: none;
}

.tip-text div {
    display: flex;
    margin-top: 20px;
}

.tip-text button:nth-child(1) {
    margin-right: 5px;
}

.tip-text.disabled {
    top: -99999px;
    left: -99999px;
}

@keyframes pulse {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.vcom-autocomplete {
    position: relative;
}

.vcom-autocomplete > div {
    position: absolute;
    max-height: 0;
    overflow-y: auto;
    background-color: white;
    box-sizing: border-box;
    border: solid 1px transparent;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vcom-autocomplete.active > div {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10000;
    padding: 10px;
    border: solid 1px #DDD;
}

.vcom-autocomplete > div > input {
    width: 100%;
    box-sizing: border-box;
}

.vcom-autocomplete input[readonly] {
    width: 100%;
    background-color: white;
    font-size: 14px;
    padding: 6px 12px;
    color: #555;
    border-radius: 4px;
    border: solid 1px #ccc;
    height: 34px;
}

.vcom-autocomplete ul {
    list-style: none;
    padding-left: 0;
}

.vcom-autocomplete li {
    padding: 5px;
}

.vcom-autocomplete li.selected {
    background-color: #0a7ac1;
    color: white;
}